.main {
    margin-bottom: 80px;
}

.site-search {
    margin-bottom: $gap * 2;
}

.main .site-search {
    margin: -15px 0 45px;
}

.user-login {
    margin-bottom: $gap * 2;
    @include md {
        margin-bottom: 60px;
    }
}

.new-films {
    overflow: hidden;

    &-row {
        margin-right: -$gap / 2;
        margin-left: -$gap / 2;
    }

    &-item {
        @include section-title;

        &__thumbnail {
            transition: background-color 0.25s;
            &:hover {
                border-color: $color-accent;
                background-color: $color-accent;
                color: $color-light;
            }
        }

        &__img {
            width: 100%;
        }
    }
}

.new-films-item:hover h3,
.top-films-item:hover h3 {
    color: $color-light;
}

.top-films-item__thumbnail:hover {
    border-color: $color-accent;
    background-color: $color-accent;
    color: $color-light;
}

.top-films {
    position: relative;
    overflow: hidden;

    &__body {
        @include sm {
            padding-bottom: 15px;
        }
    }

    &-item {
        @include section-title;

        &__thumbnail {
            transition: background-color 0.25s;
        }

        &__img {
            width: 100%;
        }
    }

    &-row {
        margin-right: -$gap / 2;
        margin-left: -$gap / 2;
    }
}

.films-news {
    position: relative;
    overflow: hidden;

    &-item__button {
        float: right;
        margin-bottom: 30px;
        transition: background-color 0.25s;
    }

    &-item__info {
        text-align: justify;
    }

    &-item:hover .thumbnail {
        background-color: #f0ad4f;
    }
}
